//Fonts

$fontName: "Myriad Pro";
$fontRegular: '#{$fontName} Regular';
$fontCondensed: '#{$fontName} Condensed';
$fontCondensedItalic: '#{$fontCondensed} Italic';
$fontLight: '#{$fontName} Light';
$fontSemibold: '#{$fontName} Semibold';
$fontSemiboldItalic: '#{$fontSemibold} Italic';
$fontBold: '#{$fontName} Bold';
$fontBoldtalic: '#{$fontBold} Italic';
$fontBoldCondensed: '#{$fontName} Condensed';
$fontBoldCondensedtalic: '#{$fontBoldCondensed} Italic';

// Colors

$greyShade1: #afa5a3;
$dimBlack: #171513;
$lightOrange: #ee3b00;
$greyShade2: #23211f;
$white: #fff;