nav {
    ul {
        background-color: $dimBlack;
        display: flex;
        flex-direction: column;
        font-size: 17px;
        li {
            list-style-type: none;
            &.contact__us {
                background: $lightOrange;
                border-radius: 25px;
                height: 35px;
                text-align: center;
                width: 130px;
                a {
                    padding: 7px;
                    color: $white;
                    font-weight: bold;
                    span {
                        padding-left: 20px;
                    }
                }
                span {
                    background-image: url("../../assets/img/contact.png");
                    background-repeat: no-repeat;
                    padding-left: 30px;
                    display: block;
                    background-position: 10px;
                }
            }
            &:hover:not(.direct-menu) {
                border-bottom: 1px solid $lightOrange;
            }
            &:hover a {
                color: $white;
                white-space: nowrap;
            }
            &.logo {
                flex-grow: 10;
                text-align: left;

                .menu,
                .contact {
                    display: none;
                }
            }
            a {
                padding: 0.8rem 1rem;
                display: block;
                text-decoration: none;
                color: $greyShade1;
            }
            .arrow {
                font-family: FontAwesome;
                float: right;
                // display: none;
            }
            .arrow-down::after {
                content: "\f107";
            }
            .arrow-right::after {
                content: "\f105";
            }
        }
    }
}
